@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f3f3f3;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  /* padding: 0 30px; */
}

@media all and (max-width: 600px) {
  article {
    width: 90vw;
    margin: 0 auto;
    /* padding: 40px; */
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
  }
}

@media all and (min-width: 600px) {
  article{
    width: 75vw;
    margin: 0 auto;
    padding: 40px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
  }
}

/* NAVBAR DESKTOP */

.navbar {
  background: #fff;
  color: #000;
  height: 75px;
  position: sticky; top: 0;
  border: 1px solid;
  padding: 10px;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: #E30059;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: none;
}

@media (min-width: 1024px) {
  .navbar ul { 
    display: flex;
  }
}

.navbar ul li {
  margin-left: 20px;
}

/* Tab menu */
/* .nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
} */

.header {
  background: linear-gradient(332deg, rgba(185,0,95,1) 0%, rgba(227,0,89,1) 100%);
  color: #fff;
  min-height: 375px;
}

.header h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.header img {
  max-width: 450px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  color: #E30059;
  background-color: #ffff;
  font-size: 16px;
  border: 2px solid #ffff;
  padding: 15px 50px;
  cursor: pointer;
  box-shadow: 1px 1px;
}
button:hover {
  color: #ffff;
  background-image: linear-gradient(to right, #B9005F , #E30059);
}

.button {
  border-radius: 12px;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background-image: linear-gradient(to right, #B9005F , #E30059);
  color: #fff;
  border-radius: 12px;
  margin: 20px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 15px 20px;
}

.box i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }
}













@media all and (max-width: 600px) {
  .mobilehide {
    display: none;
  }
}

@media all and (min-width: 600px) {
  .desktophide {
    display: none;
  }

  .my-sticky-footer {
    display: none;
  }
}






.my-sticky-footer {
  text-align: center;
  background: #444444;
  color: #fff;
  padding: 20px; 
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  display:flex;
  list-style:none;
  padding: 0px;
  justify-content: space-between;
}
li{
  padding:5px 10px;
}

a {
  color: white;
}


























